@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

header {
    background-color: #004dff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bangers', cursive;

}
    
.logo{
    width: 7rem;
}

nav{
    width: 75%;
}

ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li{
    margin: 1rem;
}

a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
}